<section class="creators section-padding">
	<div class="creators__container container">
		<div class="creators__inner">
			<div class="creators__top">
				<div class="section-headlines">
					<h2 class="title">Top creators</h2>
					<p class="section-headlines__subtitle">
						Checkout Top Rated Creators on the NFT Marketplace
					</p>
				</div>

				<a href="#" class="creators__link btn-secondary btn-reset">
					<svg width="20" height="20">
						<use href="./assets/img/svg/sprite.svg#rocket"></use>
					</svg>
					<span>View Rankings</span>
				</a>
			</div>

			<ol class="creators-list list-reset">
				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-1.jpg"
							srcset="./assets/img/creator-1_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">Keepitreal</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>
				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-2.jpg"
							srcset="./assets/img/creator-2_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">DigiLab</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>

				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-3.jpg"
							srcset="./assets/img/creator-3_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">GravityOne</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>

				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-4.jpg"
							srcset="./assets/img/creator-4_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">Juanie</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>

				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-5.jpg"
							srcset="./assets/img/creator-5_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">BlueWhale</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>

				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-6.jpg"
							srcset="./assets/img/creator-6_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">mr fox</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>

				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-7.jpg"
							srcset="./assets/img/creator-7_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">Shroomie</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>

				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-8.jpg"
							srcset="./assets/img/creator-8_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">robotica</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>

				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-9.jpg"
							srcset="./assets/img/creator-9_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">RustyRobot</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>

				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-10.jpg"
							srcset="./assets/img/creator-10_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">animakid</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>

				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-11.jpg"
							srcset="./assets/img/creator-11_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">robotica</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>

				<li>
					<div class="creator-card">
						<img
							loading="lazy"
							src="./assets/img/creator-12.jpg"
							srcset="./assets/img/creator-12_2x.jpg"
							alt="avatar"
							class="creator-card__avatar" />
						<div class="creator-card__info">
							<a href="#" class="creator-card__name">Dotgu</a>
							<span>
								<span>Total Sales:</span>
								<span class="creator-card__count">34.53 ETH</span>
							</span>
						</div>
					</div>
				</li>
			</ol>
		</div>
	</div>
</section>
