// base

@import './base/reset';

// fonts
@import './fonts/fonts';

// helpers
@import './helpers/vars';
@import './helpers/mixins';
@import './helpers/utils';
@import './helpers/global';

// components
@import '../components/overlay/overlay';
@import '../components/burger/burger';
@import '../components/logo/logo';
@import '../components/buttons/buttons';
@import '../components/menu/menu';
@import '../components/counters/counters';
@import '../components/card/card';
@import '../components/card-owner/card-owner';

@import '../components/header/header';
@import '../components/hero/hero';
@import '../components/footer/footer';

// 20px, 20px, 0px, 0px

.collections {
	&__container {
	}

	&__inner {
	}

	&__headlines {
		display: flex;
		flex-direction: column;
		gap: 10px;

		margin-bottom: 60px;
	}

	&__title {
		font-weight: 600;
		font-size: 38px;
		line-height: 1.2;
		text-transform: capitalize;
		color: var(--white);
	}

	&__subtitle {
		font-size: 22px;
		line-height: 1.4;
		text-transform: capitalize;
		color: var(--white);
	}
}

.collection-cards {
	display: flex;
	gap: 30px;
}

.collection-card {
	display: flex;
	flex-direction: column;
	gap: 15px;

	&__img {
		height: 330px;
		width: 100%;
		object-fit: cover;
		border-radius: 20px;

		background-color: #222;
	}

	&__images {
		display: flex;
		gap: 15px;
	}

	&__img-sm {
		border-radius: 20px;
		width: 100px;
		height: 100px;
		object-fit: cover;
	}

	&__more {
		font-family: var(--second-family);
		font-weight: 700;
		font-size: 22px;
		color: var(--white);

		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--violet);
		width: 100%;
		height: 100px;
		border-radius: 20px;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__description {
		font-weight: 600;
		font-size: 22px;
		text-transform: capitalize;
		color: var(--white);
	}
}
