.burger {
	position: relative;
	z-index: 7;

	width: 24px;
	height: 24px;

	padding: 0 3px;

	&::before {
		content: '';
		position: absolute;
		inset: -10px;
	}

	span {
		position: absolute;

		top: 10px;
		left: 3px;

		display: inline-block;

		width: 18px;
		height: 2px;
		border-radius: 20px;
		background-color: var(--white);

		transition: 0.2s ease;

		&:first-child {
			top: 5px;
			width: 13px;
		}

		&:last-child {
			top: 15px;
			width: 13px;
		}
	}

	&.active {
		span {
			&:first-child {
				top: 0px;
				left: 10px;
				width: 18px;
				rotate: 45deg;
			}
			&:last-child {
				top: 20px;
				width: 18px;
				rotate: -45deg;
				left: 10px;
			}
		}
	}

	&:active {
		scale: 0.97;
	}
}
