.card-owner {
	display: inline-flex;
	align-items: center;
	gap: 12px;

	border: 1px solid transparent;
	border-radius: 10px;

	padding: 5px 0;

	&__avatar {
		width: 24px;
		height: 24px;
		border-radius: 50%;
		object-fit: cover;
	}

	&__name {
		color: var(--white);
	}

	transition:
		scale 150ms ease,
		border 150ms ease;

	@include hover {
		scale: 1.1;

		border-color: var(--white);
	}

	&:active {
		scale: 1.1;
		scale: 0.97;

		border-color: var(--white);
	}

	&:focus-visible {
		scale: 1.1;
		border-color: var(--white);
	}
}
