<div class="collections section-padding">
	<div class="collections__container container">
		<div class="collections__inner">
			<div class="collections__headlines section-headlines">
				<h2 class="title">Trending Collection</h2>
				<p class="section-headlines__subtitle">
					Checkout our weekly updated trending collection.
				</p>
			</div>

			<div class="collection-cards">
				<div class="collection-card">
					<img
						src="./assets/img/collection-main-1.jpg"
						srcset="./assets/img/collection-main-1_2x.jpg"
						alt="A stylish dog wearing glasses and a tie, looking smart and sophisticated."
						class="collection-card__img" />
					<div class="collection-card__images">
						<img
							src="./assets/img/collection-1.jpg"
							srcset="./assets/img/collection-1_2x.jpg"
							alt="A stylish cat wearing headphones and a tie, looking dapper and ready to listen to some music."
							class="collection-card__img-sm" />
						<img
							src="./assets/img/collection-2.jpg"
							srcset="./assets/img/collection-2_2x.jpg"
							alt="A bear in glasses and a tie, looking smart and sophisticated."
							class="collection-card__img-sm" />
						<a href="#" class="collection-card__more">1025+</a>
					</div>
					<div class="collection-card__info">
						<span class="collection-card__description">DSGN Animals</span>
						<a href="#" class="card-owner">
							<img
								src="./assets/img/avatar.jpg"
								srcset="./assets/img/avatar_2x.jpg"
								alt="avatar"
								class="card-owner__avatar" />
							<span class="card-owner__name">MrFox</span>
						</a>
					</div>
				</div>

				<!-- 2 -->

				<div class="collection-card">
					<img
						src="./assets/img/collection-main-2.jpg"
						srcset="./assets/img/collection-main-2_2x.jpg"
						alt="A close-up photo of a mushroom covered in vibrant flowers."
						class="collection-card__img" />
					<div class="collection-card__images">
						<img
							src="./assets/img/collection-3.jpg"
							srcset="./assets/img/collection-3_2x.jpg"
							alt="A close-up photo of a mushroom covered in vibrant flowers."
							class="collection-card__img-sm" />
						<img
							src="./assets/img/collection-4.jpg"
							srcset="./assets/img/collection-4_2x.jpg"
							alt="A close-up photo of a mushroom covered in vibrant flowers."
							class="collection-card__img-sm" />
						<a href="#" class="collection-card__more">1025+</a>
					</div>
					<div class="collection-card__info">
						<span class="collection-card__description">Magic Mushrooms</span>
						<a href="#" class="card-owner">
							<img
								src="./assets/img/avatar-1.jpg"
								srcset="./assets/img/avatar-1_2x.jpg"
								alt="avatar"
								class="card-owner__avatar" />
							<span class="card-owner__name">Shroomie</span>
						</a>
					</div>
				</div>

				<!-- 3 -->

				<div class="collection-card">
					<img
						src="./assets/img/collection-main-3.jpg"
						srcset="./assets/img/collection-main-3_2x.jpg"
						alt="Colorful suit-wearing robot skateboarding."
						class="collection-card__img" />
					<div class="collection-card__images">
						<img
							src="./assets/img/collection-5.jpg"
							srcset="./assets/img/collection-5_2x.jpg"
							alt="Colorful suit-wearing robot skateboarding."
							class="collection-card__img-sm" />
						<img
							src="./assets/img/collection-6.jpg"
							srcset="./assets/img/collection-6_2x.jpg"
							alt="Colorful suit-wearing robot skateboarding."
							class="collection-card__img-sm" />

						<a href="#" class="collection-card__more">1025+</a>
					</div>
					<div class="collection-card__info">
						<span class="collection-card__description">Disco Machines</span>
						<a href="#" class="card-owner">
							<img
								src="./assets/img/avatar-2.jpg"
								srcset="./assets/img/avatar-2_2x.jpg"
								alt="avatar"
								class="card-owner__avatar" />
							<span class="card-owner__name">BeKind2Robots</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
