<section class="hero section-padding">
	<div class="container">
		<div class="hero__inner">
			<div class="hero__info">
				<h1 class="hero__title title">Discover digital art & Collect NFTs</h1>
				<p class="hero__text">
					NFT marketplace UI created with Anima for Figma. Collect, buy and sell
					art from more than 20k NFT artists.
				</p>
				<button class="hero__btn btn btn-reset">
					<svg width="20" height="20">
						<use href="./assets/img/svg/sprite.svg#rocket"></use>
					</svg>
					<span>Get Started</span>
				</button>
				<div class="counters">
					<div class="counter">
						<span><span>240</span>k+</span>
						<div class="counter__title">Total Sale</div>
					</div>

					<div class="counter">
						<span><span>100</span>k+</span>
						<div class="counter__title">Auctions</div>
					</div>

					<div class="counter">
						<span><span>240</span>k+</span>
						<div class="counter__title">Artists</div>
					</div>
				</div>
			</div>

			<div class="hero__card card">
				<img
					src="./assets/img/space-walking.jpg"
					srcset="./assets/img/space-walking_2x.jpg"
					alt="An astronaut on the surface of the Earth with another planet in the background."
					class="card__img" />

				<div class="card__body">
					<div class="card__description">Space Walking</div>
					<a href="#" class="card-owner">
						<img
							src="./assets/img/animakid.jpg"
							alt="avatar"
							class="card-owner__avatar" />
						<span class="card-owner__name">Animakid</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
