<section class="categories section-padding">
	<div class="categories__container container">
		<div class="categories__inner">
			<div class="section-headlines categories__headlines">
				<h2 class="title">Browse Categories</h2>
			</div>

			<div class="categories__cards">
				<div class="category-card">
					<a href="#" class="category-card__link" aria-label="category art"></a>
					<img
						src="./assets/img/category-1.jpg"
						alt="art"
						class="category-card__img"
						loading="lazy" />
					<div class="category-card__body">
						<span class="category-card__name">Art</span>
					</div>
				</div>

				<div class="category-card">
					<a
						href="#"
						class="category-card__link"
						aria-label="category collectibles"></a>
					<img
						src="./assets/img/category-2.jpg"
						alt="collectibles"
						class="category-card__img"
						loading="lazy" />
					<div class="category-card__body">
						<span class="category-card__name">Collectibles</span>
					</div>
				</div>

				<div class="category-card">
					<a
						href="#"
						class="category-card__link"
						aria-label="category music"></a>
					<img
						src="./assets/img/category-3.jpg"
						alt="music"
						class="category-card__img"
						loading="lazy" />
					<div class="category-card__body">
						<span class="category-card__name">Music</span>
					</div>
				</div>

				<div class="category-card">
					<a
						href="#"
						class="category-card__link"
						aria-label="category Photography"></a>
					<img
						src="./assets/img/category-4.jpg"
						alt="Photography"
						class="category-card__img"
						loading="lazy" />
					<div class="category-card__body">
						<span class="category-card__name">Photography</span>
					</div>
				</div>

				<div class="category-card">
					<a
						href="#"
						class="category-card__link"
						aria-label="category Video"></a>
					<img
						src="./assets/img/category-5.jpg"
						alt="Video"
						class="category-card__img"
						loading="lazy" />
					<div class="category-card__body">
						<span class="category-card__name">Video</span>
					</div>
				</div>

				<div class="category-card">
					<a
						href="#"
						class="category-card__link"
						aria-label="category Utility"></a>
					<img
						src="./assets/img/category-6.jpg"
						alt="Utility"
						class="category-card__img"
						loading="lazy" />
					<div class="category-card__body">
						<span class="category-card__name">Utility</span>
					</div>
				</div>

				<div class="category-card">
					<a
						href="#"
						class="category-card__link"
						aria-label="category Sport"></a>
					<img
						src="./assets/img/category-7.jpg"
						alt="Sport"
						class="category-card__img"
						loading="lazy" />
					<div class="category-card__body">
						<span class="category-card__name">Sport</span>
					</div>
				</div>

				<div class="category-card">
					<a
						href="#"
						class="category-card__link"
						aria-label="category Virtual Worlds"></a>
					<img
						src="./assets/img/category-8.jpg"
						alt="Virtual Worlds"
						class="category-card__img"
						loading="lazy" />
					<div class="category-card__body">
						<span class="category-card__name">Virtual Worlds</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
