:root {
	--font-family: 'Work Sans', 'Segoe UI', sans-serif;
	--second-family: 'Space Mono', 'Segoe UI', sans-serif;

	--background: #2b2b2b;
	--border: hsl(hsl(0, 0%, 86%));
	--white: #fff;
	--violet: #a259ff;
}
